<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:mvc="http://www.springframework.org/schema/mvc"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd
    http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <http auto-config="true">
        <session-management>
            <concurrency-control max-sessions="1" expired-url="/expired"/>
        </session-management>

        <intercept-url pattern="/sec/moderation" access="ROLE_MODERATOR"/>
        <intercept-url pattern="/admin/*" access="ROLE_ADMIN"/>
        <intercept-url pattern="/account/*" access="ROLE_USER"/>

        <form-login login-page="/login"
                    default-target-url="/account/success"
                    authentication-failure-url="/error"/>
        <logout logout-success-url="/"/>

    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder hash="plaintext"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="customUserDetailsService" class="pl.mgrz.licznik.service.CustomUserDetailsService"/>

    <!-- Resolves views selected for rendering by @Controllers to .jsp resources in the /WEB-INF/views directory -->
    <beans:bean id="tilesConfigurer"
                class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <beans:property name="definitions">
            <beans:list>
                <beans:value>/WEB-INF/tiles/tiles.xml</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>
    <beans:bean id="tilesViewResolver"
                class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <beans:property name="viewClass">
            <beans:value>
                org.springframework.web.servlet.view.tiles3.TilesView
            </beans:value>
        </beans:property>
        <beans:property name="order" value="0"/>
    </beans:bean>

</beans:beans>